$primary: #d37d68;
$secondary: #f1a19b;
$body-bg: #fffcfb;

$navbar-nav-link-padding-x: 1rem;

$font-family-sans-serif: "Lato", sans-serif;

@import "bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pinyon+Script&display=swap");

.text-cursive {
  font-family: "Pinyon Script", cursive;
}

header {
  background: rgb(255 255 255 / 90%);
}
